* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
Html {
  Font-size: 62.5%;
}
Section {
  Padding: 4% 0;
}
nav {
  background-color: #1F2A4C;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2% 0;
}
@media (max-width: 900px) {
  nav ul {
    padding: 3% 1%;
  }
}
nav ul li {
  list-style: none;
}
@media (max-width: 900px) {
  nav ul li .hide,
  nav ul li #search,
  nav ul li #cart {
    display: none;
  }
}
nav ul li:hover {
  filter: opacity(75%);
}
nav ul li a {
  text-decoration: none;
  color: #D8E7ED;
  font-size: 2rem;
  line-height: 141%;
  font-family: 'Fira Sans', sans-serif;
}
nav ul li a:hover {
  text-decoration: none;
  filter: opacity(75%);
}
#farmerpal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
#search {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search #search-box {
  border-radius: 4px;
  border: 1px solid #D8E7ED;
  margin-left: 3%;
  height: 2.5rem;
  width: 17rem;
}
#cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
#click-to-sell {
  background-color: #7FAECC;
  color: #1F2A4C;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 0.5% 1%;
}
@media (max-width: 800px) {
  #click-to-sell {
    padding: 2%;
  }
}
#click-to-sell:hover {
  filter: invert(10%);
}
#click-to-sell li a {
  white-space: nowrap;
}
.mobile-nav {
  display: none;
}
@media (max-width: 900px) {
  .mobile-nav {
    display: flex;
    padding: 2% 0;
    margin: auto;
    align-items: center;
  }
  .mobile-nav .hamburger-menu {
    font-size: 2rem;
    margin-left: 4%;
  }
  .mobile-nav .shopping-cart {
    margin-left: 85%;
  }
}
nav ul {
  margin: 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.header .landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/Hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
}
.header .landing h1,
.header .landing h3 {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}
.header .landing h1 {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 0.02rem;
}
@media (max-width: 800px) {
  .header .landing h1 {
    font-size: 2.5rem;
    line-height: 130%;
  }
}
.header .landing h3 {
  font-size: 2.5rem;
  font-family: 'Fira Sans', sans-serif;
  line-height: 130%;
}
@media (max-width: 800px) {
  .header .landing h3 {
    font-size: 1.6rem;
    line-height: 148%;
    padding: 3% 0;
  }
}
.header .landing .landing-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}
.header .landing .landing-search input {
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #D8E7ED;
  margin-left: 3%;
  height: 4rem;
  width: 19rem;
}
.header .landing .landing-search h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F46032;
  color: white;
  border-radius: 0 8px 8px 0;
  height: 4rem;
  width: 17rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: 'Fira Sans', sans-serif;
}
.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
  padding: 8% 6%;
}
@media (max-width: 800px) {
  .info {
    display: block;
  }
}
.info .info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.info .info-text h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 5.8rem;
  letter-spacing: 0.02em;
}
@media (max-width: 800px) {
  .info .info-text h2 {
    font-size: 2.5rem;
    line-height: 130%;
  }
}
.info .info-text p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  line-height: 127%;
  padding-top: 3%;
  color: #212429;
}
@media (max-width: 800px) {
  .info .info-text p {
    font-size: 2rem;
    line-height: 141%;
  }
}
.info img {
  border-radius: 10px;
  justify-self: center;
}
.how-it-works {
  background-image: url(/assets/dark-accent-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 1%;
  margin-bottom: 3%;
}
@media (max-width: 800px) {
  .how-it-works {
    padding: 0;
  }
}
.how-it-works .title {
  text-align: center;
  color: #F8F9FA;
  font-family: 'Fira Sans', sans-serif;
  font-size: 4.8rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding-bottom: 2%;
}
@media (max-width: 800px) {
  .how-it-works .title {
    font-size: 2.5rem;
    line-height: 130%;
    padding: 5% 0;
  }
}
.how-it-works .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .how-it-works .main-container {
    flex-flow: column;
    background: #1F2A4C;
    background-size: cover;
    background-image: none;
  }
}
.how-it-works .info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: #D8E7ED;
  border-radius: 6px;
  margin: 0 1%;
  padding: 2%;
  width: 25%;
  height: 45rem;
}
@media (max-width: 800px) {
  .how-it-works .info-container {
    width: 90%;
    margin: 4% 0;
    height: auto;
  }
}
.how-it-works .info-container .photo-container {
  background-color: white;
  border-radius: 50px;
  border: 2px solid black;
  padding: 2rem;
  border-radius: 65px;
}
.how-it-works .info-container h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  line-height: 130%;
  text-align: left;
  padding-top: 5%;
}
.how-it-works .info-container p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
  padding: 5% 0 20% 0;
  line-height: 148%;
  color: #212429;
}
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
.quote .quote-container {
  background-color: #F1F3F6;
  box-shadow: 30px 30px 80px rgba(55, 84, 170, 0.1), -30px -30px 80px #FFFFFF, inset 4px 4px 20px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 80%;
}
@media (max-width: 800px) {
  .quote .quote-container {
    width: 90%;
    margin: 5% 0;
  }
}
.quote .quote-container #quotes {
  position: absolute;
  padding: 2% 0 0 2%;
}
@media (min-width: 801px) {
  .quote .quote-container #quotes {
    height: 8%;
  }
}
@media (max-width: 800px) {
  .quote .quote-container #quotes {
    height: 5%;
  }
}
.quote .quote-container .quote-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9% 0;
}
@media (max-width: 800px) {
  .quote .quote-container .quote-content {
    padding: 15% 3%;
  }
}
@media (min-width: 801px) {
  .quote .quote-container .quote-content {
    padding: 10% 5%;
  }
}
.quote .quote-container .quote-content .person-quote {
  flex-flow: column nowrap;
  padding-left: 5%;
}
.quote .quote-container .quote-content h2 {
  font-size: 3.13rem;
  font-family: 'Fira Sans', sans-serif;
  line-height: 127%;
}
@media (max-width: 800px) {
  .quote .quote-container .quote-content h2 {
    font-size: 2rem;
    line-height: 141%;
  }
}
.quote .quote-container .quote-content p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2rem;
  line-height: 141%;
}
@media (max-width: 800px) {
  .quote .quote-container .quote-content p {
    font-size: 1.6rem;
    line-height: 148%;
  }
}
.shop-now {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background: linear-gradient(rgba(110, 110, 110, 0.349), rgba(110, 110, 110, 0.349)), url(/assets/web.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
}
.shop-now .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 45%;
}
@media (max-width: 800px) {
  .shop-now .content {
    flex-flow: column;
    width: 80%;
  }
}
.shop-now .content h2 {
  font-size: 4.8rem;
  line-height: 5.8rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #F8F9FA;
  padding-bottom: 2%;
}
@media (max-width: 800px) {
  .shop-now .content h2 {
    font-size: 2.5rem;
    line-height: 130%;
    justify-content: center;
    align-items: center;
  }
}
.shop-now .content p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2rem;
  line-height: 141%;
  color: #F8F9FA;
}
@media (max-width: 800px) {
  .shop-now .content p {
    font-size: 1.6rem;
    line-height: 148%;
    padding: 5% 0;
  }
}
.shop-now .last-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.shop-now .last-search input {
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #D8E7ED;
  margin-left: 3%;
  height: 4rem;
  width: 19rem;
}
.shop-now .last-search h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F46032;
  color: white;
  border-radius: 0 8px 8px 0;
  height: 4rem;
  width: 17rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: 'Fira Sans', sans-serif;
}
.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(31, 42, 76, 0.8), rgba(31, 42, 76, 0.8)), url(/assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
}
.contact-header h1 {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-size: 4.8rem;
  text-align: center;
}
.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/map.png);
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 5% 0;
  background-color: rgba(241, 243, 246, 0.877);
  width: 45%;
  margin: 5% auto;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .contact-form {
    width: 95%;
  }
}
.contact-form .contact-heading {
  font-size: 2.5rem;
  color: #1F2A4C;
  font-family: 'Fira Sans', sans-serif;
}
.contact-form .send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  background-color: #1F2A4C;
  width: 30%;
  margin: 5% auto;
  border-radius: 10px;
  padding: 3%;
  font-size: 2rem;
}
.contact-form .send-button:hover {
  filter: invert(15%);
  text-decoration: none;
}
footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4% 8%;
  width: 100%;
}
@media (max-width: 800px) {
  footer {
    grid-template-columns: repeat(3, 1fr);
  }
  footer .column {
    justify-self: center;
    padding: 0 10%;
  }
}
footer .column > h3 {
  font-size: 2rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  line-height: 141%;
  padding-bottom: 5%;
}
@media (max-width: 800px) {
  footer .column > h3 {
    font-size: 1.6rem;
    line-height: 141%;
  }
}
footer li {
  list-style: none;
}
footer li a {
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  font-family: 'Fira Sans', sans-serif;
  line-height: 220%;
  color: rgba(43, 41, 45, 0.6);
}
@media (max-width: 800px) {
  footer li a {
    font-size: 1.2rem;
    line-height: 220%;
  }
}
.social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid rgba(43, 41, 45, 0.123);
  padding: 2% 0;
}
.social .bottom-left {
  margin: 0 6%;
}
.social .bottom-left ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social .bottom-left li {
  list-style: none;
  padding: 0 5%;
}
.social .bottom-left li a {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 22px;
}
@media (max-width: 800px) {
  .social .bottom-left li a {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
.social .social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20%;
}
.social .social-icons a {
  text-decoration: none;
  margin: 0 5%;
  font-size: 2rem;
  color: rgba(43, 41, 45, 0.6);
}
@media (max-width: 800px) {
  .social .social-icons a {
    font-size: 1.4rem;
  }
}
