nav {

    ul {
        margin: 0;
    }
}

.header {
    .flex(center, center);
    padding: 0;



    .landing {
        .flex(center, center);
        flex-flow: column nowrap;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/Hero-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 60vh;

        h1,
        h3 {
            color: white;
            font-family: @company-font;
            text-align: center;
        }

        h1 {
            font-size: 4.8rem;
            font-weight: bold;
            line-height: 58px;
            letter-spacing: 0.02rem;

            @media(@phone) {
                font-size: 2.5rem;
                line-height: 130%;
            }
        }

        h3 {
            font-size: 2.5rem;
            font-family: @company-font;
            line-height: 130%;

            @media(@phone) {
                font-size: 1.6rem;
                line-height: 148%;
                padding: 3% 0;
            }
        }

        .landing-search {
            .flex(center, center);
            padding-top: 3%;
            .search();
        }
    }

}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
    padding: 8% 6%;

    @media(@phone) {
        display: block;
    }

    .info-text {
        .flex(center, center);
        flex-flow: column nowrap;

        h2 {
            font-family: @company-font;
            font-size: 4.8rem;
            font-weight: bold;
            line-height: 5.8rem;
            letter-spacing: 0.02em;

            @media(@phone) {
                font-size: 2.5rem;
                line-height: 130%;
            }
        }

        p {
            font-family: @company-font;
            font-size: 2.5rem;
            line-height: 127%;
            padding-top: 3%;
            color: #212429;

            @media(@phone) {
                font-size: 2rem;
                line-height: 141%;
            }

        }
    }

    img {
        border-radius: 10px;
        justify-self: center;
    }
}

.how-it-works {
    background-image: url(/assets/dark-accent-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 1%;
    margin-bottom: 3%;

    @media(@phone) {
        padding: 0;
    }

    .title {
        text-align: center;
        color: #F8F9FA;
        font-family: @company-font;
        font-size: 4.8rem;
        font-weight: bold;
        letter-spacing: 0.02em;
        padding-bottom: 2%;

        @media(max-width: 800px) {
            font-size: 2.5rem;
            line-height: 130%;
            padding: 5% 0;
        }
    }

    .main-container {
        .flex(center, center);

        @media(max-width: 800px) {
            flex-flow: column;
            background: #1F2A4C;
            background-size: cover;
            background-image: none;


        }
    }

    .info-container {
        .flex(center, center);
        flex-flow: column nowrap;
        background-color: #D8E7ED;
        border-radius: 6px;
        margin: 0 1%;
        padding: 2%;
        width: 25%;
        height: 45rem;

        @media (max-width: 800px) {
            width: 90%;
            margin: 4% 0;
            height: auto;
        }

        .photo-container {
            background-color: white;
            border-radius: 50px;
            border: 2px solid black;
            padding: 2rem;
            border-radius: 65px;
            margin-bottom: 3rem;

        }

        h2 {
            font-family: @company-font;
            font-size: 2.5rem;
            line-height: 130%;
            text-align: left;
        }

        p {
            font-family: @company-font;
            font-size: 1.6rem;
            padding: 5% 0 20% 0;
            line-height: 148%;
            color: #212429;
        }
    }
}

.quote {
    .flex(center, center);
    margin-bottom: 3%;

    .quote-container {
        background-color: #F1F3F6;
        box-shadow: 30px 30px 80px rgba(55, 84, 170, 0.1), -30px -30px 80px #FFFFFF, inset 4px 4px 20px rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        width: 80%;

        @media(max-width: 800px) {
            width: 90%;
            margin: 5% 0;
        }

        #quotes {
            position: absolute;
            padding: 2% 0 0 2%;

            @media(min-width: 801px) {
                height: 8%;
            }

            @media(max-width: 800px) {
                height: 5%;
            }
        }

        .quote-content {
            .flex(center, center);
            padding: 9% 0;

            @media(@phone) {
                padding: 15% 3%;
            }

            @media(min-width: 801px) {
                padding: 10% 5%;
            }

            .person-quote {
                flex-flow: column nowrap;
                padding-left: 5%;
            }

            h2 {
                font-size: 3.13rem;
                font-family: @company-font;
                line-height: 127%;

                @media(max-width: 800px) {
                    font-size: 2rem;
                    line-height: 141%;
                }
            }

            p {
                font-family: @company-font;
                font-size: 2rem;
                line-height: 141%;

                @media(max-width: 800px) {
                    font-size: 1.6rem;
                    line-height: 148%;
                }
            }
        }

    }
}

.shop-now {
    .flex(center, center);
    flex-flow: column nowrap;
    background: linear-gradient(rgba(110, 110, 110, 0.349), rgba(110, 110, 110, 0.349)), url(/assets/web.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;

    .content {
        .flex(center, center);
        flex-flow: column;
        width: 45%;

        @media(max-width: 800px) {
            flex-flow: column;
            width: 80%;
        }

        h2 {
            font-size: 4.8rem;
            line-height: 5.8rem;
            font-family: @company-font;
            font-weight: bold;
            letter-spacing: 0.02em;
            color: #F8F9FA;
            padding-bottom: 2%;

            @media(max-width: 800px) {
                font-size: 2.5rem;
                line-height: 130%;
                justify-content: center;
                align-items: center;
            }
        }

        p {

            font-family: @company-font;
            font-size: 2rem;
            line-height: 141%;
            color: #F8F9FA;

            @media(max-width: 800px) {
                font-size: 1.6rem;
                line-height: 148%;
                padding: 5% 0;
            }
        }
    }

    .last-search {
        .flex(center, center);
        padding: 3%;

        .search();
    }
}